<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="CloudCraft Government Office" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://govoffice.cc" />
    <meta property="og:image" content="https://govoffice.cc/cdn/img/2022-02-05_12.44.06.png" />
    <meta property="og:description" content="The official site of the Cloudic government and its various departments." />
    <meta name="theme-color" content="#271536">

    <meta name="twitter:card" content="summary_large_image">

    <!-- Bootstrap CSS -->
    <link
      href="/cdn/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <link
      href="/cdn/css/core.css"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/cdn/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/cdn/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/cdn/ico/favicon-16x16.png">
    <link rel="manifest" href="/cdn/ico/site.webmanifest">

    <title>{{ pageTitle }} • ПСТ</title>
  </head>
  <body>

    <script>
      window.onload = function () {
  
        try {
  
          mcm = new bootstrap.Modal(document.getElementById('minecraftModal'), {
            keyboard: false
          })
          mcm.show();
  
        } catch (e) {}
  
        function doResize() {
          var h = document.getElementById('globalNav').clientHeight + document.getElementById('siteNav').clientHeight + 25;
          var mh = window.innerHeight - document.getElementsByTagName('footer')[0].clientHeight;
          document.getElementById('content').style.paddingTop = h + "px";
          document.getElementById('content').style.minHeight = mh + "px";
    }
  
      doResize();
  
      window.addEventListener('resize', doResize, true);
  
      }
    </script>
    
    <header>
    <nav id="globalNav" class="py-0 bg-gray border-bottom d-none d-md-block" style="font-size: 0.9rem; line-height: 1.9;">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item">
                <img
                src="/cdn/img/small_flag.png"
                alt=""
                height="40"
                width="55"
                class="nav-link px-2"
                /></img>
            </li>
            <li class="nav-item">
                <img
                src="/cdn/img/small_is.jpg"
                alt=""
                height="40"
                width="55"
                class="nav-link px-2"
                /></img>
            </li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2"><em>An official web-app of the Cloudic government</em></a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><a href="https://translate.cloudcraft.fi" class="nav-link link-dark px-2">Translator</a></li>
            <li class="nav-item"><a href="https://aao.govoffice.cc" class="nav-link link-dark px-2 active" aria-current="page">ÁAO22</a></li>
          </ul>
        </div>
      </nav>
    <nav id="siteNav" class="navbar navbar-dark bg-dark shadow py-3 mb-4" style="margin-bottom: 2%; background-color: rgba(39, 21, 54,1) !important;">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="/cdn/img/logo_white.png"
            alt=""
            width="24"
            height="24"
            class="d-inline-block align-text-top"
          />
          <span id="navbar-brand"></span>
        </a>

        <ul class="nav">

            <div class="dropdown text-end" style="margin-right: 15px;">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span>Government</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="/government/how-government-works">How it works</a></li>
                  <li><a class="dropdown-item" href="/government/who-represents-me">Who's in it</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/government/behind-the-scenes">Suggestion protocol</a></li>
                </ul>
              </div>

              <div class="dropdown text-end">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span>Presidency</span>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="/government/elections">Elections</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/forms/sd01">Run for President</a></li>
                </ul>
              </div>

          </ul>

      </div>
    </nav>
  </header>

    <div id="content" class="container">