{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-8">

        <h1>Presidential elections</h1>
        <p class="larger">During periods of high activity, we typically run our presidential elections every two months. Two weeks before the election
            is due to begin, players can begin filling out the Declaration of Intent form (SD01) to declare that they will be running in the upcoming
            election.
        </p>
        <p class="larger">During the week of the elections, players will vote via the voting booths located at the left of Spawn. Books can be purchased
            at the venue for 10€<sub>IGC</sub>. Further instructions will be provided closer to the time of the election.
        </p>

        <div class="line-x"></div>

        <h2>Declaring your intent to run.</h2>
        <p>We're excited to hear that you're thinking of running to become the next president of CloudCraft. Running for president is an exciting,
            once-in-a-lifetime experience on the server, involving a lot of tension and hard work. Before you register your intent, make sure you
            comply with the following eligbility requirements:
        </p>
        <ul>
            <li class="body">Be at least 13 years of age on the date of your declaration.</li>
            <li class="body">Have at least level 3 (III) on the Nordic Era: Chapter II.</li>
            <li class="body">(Alternatively, have at least level 10 (X) on the Nordic Era: Chapter I.)</li>
            <li class="body">Have a proficiency in the English language.</li>
            <li class="body">Be an established member of the server's community.</li>
            <li class="body">Have a genuine interest in improving the CloudCraft experience.</li>
            <li class="body">Have not been President since 8 months before the current date.</li>
        </ul>

        <button type="button" class="btn btn-info btn-lg" onclick="location.href = '/forms/sd01';">Register your intent &#10004;</button>

        <div class="line-x"></div>

        <h2>What can I expect from the job?</h2>
        <p>Contrary to popular belief, the previous presidents have described the job as quite underwhelming. We're actively trying to change this, and
            to make the job of the president a much more active and exciting role.
        </p>
        <p>While in office, you should aim to find out issues that are important to the players of the server at the time. It's also important in your
            position to think of possible solutions to these issues, and present them to the relevant departmental ministers, Overseers, or the rest
            of the Government in meetings.
        </p>
        <p>We aim to hold at least one meeting with the President and Government each presidential term (2 months), although this highly depends upon
            the effort put in by both parties.
        </p>
        <p>While in office, you will also receive the following perks:
        </p>
        <ul>
            <li class="body">Full ownership of and residence in the Presidential Mansion throughout your term.</li>
            <li class="body">Access to the pot of taxpayer money to allocate and spend on improving the server (currently 5mil€<sub>IGC</sub>).</li>
            <li class="body">A salary of 50,000€<sub>IGC</sub> per week completed in office (max 8wks).</li>
            <li class="body">President role in the CloudCraft Discord (above everyone else).</li>
            <li class="body">Access to information about confidential ongoing server projects.</li>
        </ul>

    </div>

</div>
</div>

{{ > templates/footer }}