{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-md-8 col-sm-12">

        <h1>Who represents me?</h1>
        <p class="larger">On CloudCraft, the ministers of most departments and the Cabinet are chosen by the President at the start of their term.
            By voting for a President you agree with, you're responsible for deciding the views of all department ministers, so your ideas will be
            more represented throughout server decisions.
        </p>
        <p class="larger">However, the Department of the Executive ('the Overseers') are chosen by the other members of the department. These are
            usually the players who have shown much dedication to the server, and those who are extremely trustworthy – they're the people who
            ultimately take control of the server during periods where the traditional 'owner(s)' can't.
        </p>

        <div class="line-x"></div>

        <h2>Who is in the current Government?</h2>
        <h3>President's Office</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/jodas21.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">The President</strong></p>
                    <p style="margin-bottom: 0">Since 01.01.2022</p>
                    <p style="margin-bottom: 0">Jodas21</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/alex.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">The Vice President</strong></p>
                    <!--<p style="margin-bottom: 0">Since ??????????</p>-->
                    <p style="margin-bottom: 0">T.B.A.</p>
                </div>
            </div>
        </div>

        <h3 style="margin-top: 35px;">The Cabinet</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/zemzem.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Senior Cabinet Member</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">ZemZem</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/lowelo45.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Senior Cabinet Member</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">Lowelo45</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/aihia.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Senior Cabinet Member</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">Aihia</p>
                </div>
            </div>
        </div>

        <h3 style="margin-top: 35px;">Departmental Ministers</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/dandabs.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Minister of the Executive</strong></p>
                    <p style="margin-bottom: 0">Since 08.05.2021</p>
                    <p style="margin-bottom: 0">dandabs</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/lowelo45.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Minister of the Public</strong></p>
                    <p style="margin-bottom: 0">Since 05.02.2022</p>
                    <p style="margin-bottom: 0">Lowelo45</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/uhhdianaxx.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Head of the Ceremony Committee</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">UhhDianaxX</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/alex.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Minister for Infrastructure</strong></p>
                    <!--<p style="margin-bottom: 0">Since ??????????</p>-->
                    <p style="margin-bottom: 0">T.B.A</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/alex.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Head of the Cloudic Language Institute</strong></p>
                    <!--<p style="margin-bottom: 0">Since ??????????</p>-->
                    <p style="margin-bottom: 0">T.B.A</p>
                </div>
            </div>
        </div>

        <div class="line-x"></div>

        <h2>Who are the current Overseers?</h2>
        <h3>Tier 1</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/dandabs.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Executive Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 08.05.2021</p>
                    <p style="margin-bottom: 0">dandabs</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/lauralxc.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Vice Executive Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 08.05.2021</p>
                    <p style="margin-bottom: 0">Lauralxc</p>
                </div>
            </div>
        </div>

        <h3 style="margin-top: 35px;">Tier 2</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/uhhdianaxx.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">UhhDianaxX</p>
                </div>
            </div>
        </div>

        <h3 style="margin-top: 35px;">Tier 3</h3>
        <div class="container" style="width: 150%; padding-left: 0; padding-right: 0;">
            <div class="row">
                <div class="col-4">
                    <img src="/cdn/img/strand__.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Reserve Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">Strand</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/frithiof07.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Reserve Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">frithiof07</p>
                </div>
                <div class="col-4">
                    <img src="/cdn/img/fabi110.png" style="width:100%;">
                    <p style="margin-bottom: 0; margin-top: 5px;"><strong style="font-weight: 800;">Reserve Overseer</strong></p>
                    <p style="margin-bottom: 0">Since 10.12.2021</p>
                    <p style="margin-bottom: 0">Fabi110</p>
                </div>
            </div>
        </div>

    </div>

</div>
</div>

{{ > templates/footer }}