{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-md-8 col-sm-12">

        <h1>Declaration of Intent</h1>
        <p class="larger">Thanks for registering your intent to run in the upcoming presidential elections. You will be contacted by a member
            of the Government or the Department of the Executive when you have been officially entered into the race.
        </p>
        <p class="larger">You can click <a href="/">here</a> to return to the homepage.
        </p>

    </div>

</div>
</div>

{{ > templates/footer }}