{{ > templates/header }}

<div class="container" style="max-width: 1000px">
<div class="row">

    <div class="col-8">

        <h1>Declaration of Intent</h1>
        <p class="larger">Use this form (SD01) to register your intent to run in the next upcoming presidential elections. Make sure you meet the
            <a href="/government/elections">eligibility requirements</a> before applying. If your registration is accepted, you will receive a message from a member of Government or
            the Department of the Executive.
        </p>
        <p class="larger">Please note that once you send this form, you are unable to withdraw from the Presidential Elections. If elected, you
            must then give up office after your inauguration.
        </p>

        <div class="line-x"></div>

        <form id="sd01" method="POST" action="/forms/sd01" enctype="multipart/form-data">
        <h3>Main Body Questions</h3>
        <p>These questions are just to get a feel for who you are as a person.</p>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="discord" id="discord" placeholder="example#0001" required>
                <label for="discord" class="form-label">Discord username</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="minecraft" id="minecraft" placeholder="example" required>
                <label for="minecraft" class="form-label">Minecraft username</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="color" id="color" placeholder="#FFE0FF" required>
                <label for="color" class="form-label">Primary colour</label>
                <div class="form-text">The colour that will be on your potential election poster, and presidential seal. Can be a HEX code.</div>
            </div>
            <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="animal" id="animal" placeholder="Duck" required>
                <label for="flag" class="form-label">Presidential animal</label>
                <div class="form-text">The animal that will be placed on your presidential seal.</div>
            </div>
              <div class="mb-3 form-floating">
                <input type="text" class="form-control" name="flag" id="flag" placeholder="Finland, Åland" required>
                <label for="flag" class="form-label">Primary flag(s)</label>
                <div class="form-text">The flag that we will fly above the Presidental Estate. You can pick up to two.</div>
            </div>
            <div class="mb-3 form-floating">
                <select class="form-select" name="language" id="language" required>
                  <option selected>Select one...</option>
                  <option value="English">English</option>
                  <option value="Finnish">Finnish</option>
                  <option value="Swedish">Swedish</option>
                  <option value="Norwegian">Norwegian</option>
                  <option value="Danish">Danish</option>
                  <option value="Icelandic">Icelandic</option>
                  <option value="Faroese">Faroese</option>
                  <option value="Greenlandic">Greenlandic</option>
                  <option value="Estonian">Estonian</option>
                  <option value="OtherN">Other Nordic</option>
                  <option value="OtherNN">Other Non-Nordic</option>
                </select>
                <label for="language">Mother tongue</label>
                <div class="form-text">Your first language – typically the one you grew up learning first.</div>
            </div>

            <div class="line-x"></div>

            <h3>Ideology Questions</h3>
            <p>These questions will appear on your potential election poster, or other places advertising you in the election. They'll shape
                the political opinions other people have on you.
            </p>

            <div class="mb-3 form-floating">
                <textarea required type="text" class="form-control" name="whydoyouwant" id="whydoyouwant" placeholder="Why do you want to become President?" style="height: 130px;"></textarea>
                <label for="whydoyouwant">Why do you want to become President?</label>
                <div class="form-text">What inspired you to want to be in this role? Is it the thought of having power, or being able to make a change? Or something else?</div>
            </div>
            <div class="mb-3 form-floating">
                <textarea required type="text" class="form-control" name="importantissue" id="importantissue" placeholder="What is an important issue on CC, and how would you propose to solve it?" style="height: 130px;"></textarea>
                <label for="importantissue">What is an important issue on CC, and how would you propose to solve it?</label>
                <div class="form-text">This can be a problem you see with the server, or just a minor issue that needs addressed.</div>
            </div>
            <div class="mb-3 form-floating">
                <textarea required type="text" class="form-control" name="newfeature" id="newfeature" placeholder="What's something you'd like to see implemented to CloudCraft?" style="height: 130px;"></textarea>
                <label for="newfeature">What's something you'd like to see implemented to CloudCraft?</label>
                <div class="form-text">It could be a feature, a gamemode or an event. Anything that you think would improve the player experience.</div>
            </div>

            <button type="submit" value="submit" class="btn btn-info btn-lg">Submit declaration &#10004;</button>

        </form>

    </div>

</div>
</div>

{{ > templates/footer }}